nav {
    background-color: rgb(43, 43, 43);
}

body {
    background-color: black;
}

main h1 {
    font-size: 1.3em;
    font-family:Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    list-style-type: none;
    justify-content: right;
} div{
    justify-content: left;
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

main {
    overflow-y: auto;
}

main>div {
    padding-top: 80px;
    height: 100vh;
}

.p-2 div {
    font-size: 0.6em;
    font-family:Arial, Helvetica, sans-serif;
}

#krFlagContainer {
    width: 450px;
    height: 300px;
    transition: all 0.1s;
}
#krOverlay {
    position: absolute;
    width: 450px;
    height: 300px;
    background: linear-gradient(105deg, transparent 40%, rgba(165, 25, 49, 0.8) 45%, rgba(45, 42, 74, 0.8) 50%, transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
}
#krFlag {
    width: 450px;
    height: 300px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/1200px-Flag_of_South_Korea.svg.png);
    background-size: cover;
}
#thFlagContainer {
    width: 450px;
    height: 300px;
    transition: all 0.1s;
}
#thOverlay {
    position: absolute;
    width: 450px;
    height: 300px;
    background: linear-gradient(105deg, transparent 40%, rgba(165, 25, 49, 0.8) 45%, rgba(45, 42, 74, 0.8) 50%, transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
}
#thFlag {
    width: 450px;
    height: 300px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_Thailand.svg);
    background-size: cover;
}
#sgFlagContainer {
    width: 450px;
    height: 300px;
    transition: all 0.1s;
}
#sgOverlay {
    position: absolute;
    width: 450px;
    height: 300px;
    background: linear-gradient(105deg, transparent 40%, rgba(238,37,54, 0.8) 45%, rgba(45, 42, 74, 0.8) 50%, transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
}
#sgFlag {
    width: 450px;
    height: 300px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/1200px-Flag_of_Singapore.svg.png);
    background-size: cover;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(225, 225, 225, 0.15);
        backdrop-filter: blur(10px);
    }
}