nav {
    background-color: rgb(43, 43, 43);
}

body {
    background-color: black;
}

#bg-layer {
    background-image: url('../images/polaroid.png');
    background-position: bottom center;
    background-attachment: scroll;
    background-size: cover;
    height: 60vh;
}

main h1 {
    font-size: 1.3em;
    font-family:Arial, Helvetica, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    list-style-type: none;
    justify-content: right;
} 

.icon {
    width: 1.5em;
    height: 1.5em;
}

main>div {
    padding-top: 80px;
    height: 100vh;
}

.p-2 div {
    font-size: 0.6em;
    font-family:Arial, Helvetica, sans-serif;
}

#krFlagContainer {
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
}
#krOverlay {
    position: absolute;
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
    background: linear-gradient(105deg, transparent 40%, rgba(165, 25, 49, 0.8) 45%, rgba(45, 42, 74, 0.8) 50%, transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
}
#krFlag {
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/1200px-Flag_of_South_Korea.svg.png);
    background-size: cover;
}
#thFlagContainer {
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
}
#thOverlay {
    position: absolute;
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
    background: linear-gradient(105deg, transparent 40%, rgba(165, 25, 49, 0.8) 45%, rgba(45, 42, 74, 0.8) 50%, transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
}
#thFlag {
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_Thailand.svg);
    background-size: cover;
}
#sgFlagContainer {
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
}
#sgOverlay {
    position: absolute;
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
    background: linear-gradient(105deg, transparent 40%, rgba(238,37,54, 0.8) 45%, rgba(45, 42, 74, 0.8) 50%, transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
}
#sgFlag {
    width: 21vw;
    height: 14vw;
    min-width: 210px;
    min-height: 140px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/1200px-Flag_of_Singapore.svg.png);
    background-size: cover;
}

.carousel-item {
    height: 25rem;
    width: 20rem;
    background: #777;
    position: relative;
    background-position: center;
    background-size: cover;
}
.carouselContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.gridBody {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10%;
}

.flag-horizontal h2{
    padding-top: 10%;
    font-size: 0.8em;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(225, 225, 225, 0.15);
        backdrop-filter: blur(10px);
    }

    .gridBody {
        display: unset;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #777;
    }
}